*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

body{
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

.header{
    background-color:purple;
    text-align: center;
    color: #f8f8f8;
    height:15vh;
    padding:  29px;
    align-items: center;
}
.content{
    background-color: purple;
    text-align: center;
    height: 58px;
    align-items: center;

    
}
a{
    padding: 15px;
    color:#f8f8f8;
    text-decoration: none;
    font-size:15px ;
}



.section {
    padding: 25px;
}


.post {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    width: 95vw;
    height: 25vh;
    
}


.title {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 10px;
}


.blogContent {
    font-size: 16px;
    line-height: 1.8;
}



.footer{
    
    background-color: purple;
    color:#f8f8f8;
    align-items: center;
    text-align: center;
    height:15vh;
    padding:40px;
}